<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>prism-gui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>prism-gui_automoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>prism.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>994CF98625524A6285538945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F3875E6E9E44B5834084F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2C99837B82540E2B8D42100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8A3FF4B97E44D4D8EBEF0CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27C56F42D6F4181A16B0B51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
